html, body {
    font-size: 10px;
    box-sizing: border-box;
    font-family: Nunito Sans, Helvetica, sans-serif;
    padding-bottom: 5rem;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h3 {
    font-size: 2rem;
    font-weight: 400;
}

p {
    font-size: 1.4rem;
}

hr {
    opacity: 0.3;
    margin: 20px 0px;
}

button:disabled,
button[disabled] {
    opacity: 0.6;
}

label {
    cursor: pointer;
}

.link {
    font-size: 1.3rem;
    color: blue;
    cursor: pointer;
}

.section-wrapper {
    margin: auto;
    width: 40%;
    padding: 2rem;
    padding-bottom:0;
    font-size: 1.3rem;
    min-width: 500px;
}

.bread-header {
    position: fixed;
    top: 0px;
    left: 0px;
    min-width: 40rem;
    width: 100%;
    height: 5.6rem;
    background-color: #0F233F;
    padding: 0rem 3.2rem;
    z-index: 100;
    font-size: 14px;
}

.bread-header-content {
    position: relative;
    min-width: 100%;
    min-height: 100%;
    background-color: inherit;
}

.bread-logo-container {
    position: absolute;
    top: 50%;
    width: 9.2rem;
    height: 2.49rem;
    transform: translateY(-50%);
}

.bread-logo-img {
    width: 100%;
}

.bread-header-btn-container {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.bread-header-btn {
    background-color: #5156EA;
    color: #FFFFFF;
    padding: 0.6rem 1.6rem;
    border-radius: 2px;
    border: none;
}

.bread-header-buffer {
    margin-top: 5.6rem;
}

.signin-content {
    padding: 3.2rem 1.6rem;
    text-align: center;
}

input {
    margin: 0.4rem 0 0.4rem;
    padding: 1rem;
    border: 1px solid #CFD3D8;
    border-radius: 4px;
    box-shadow: none;
    font-size: 14px;
}

input[type="checkbox"] {
    font-size: 20px;
    cursor: pointer;
}

.signin-content input {
    width: 100%;
    font-size: 14px
}

.form-group {
    margin: 0rem auto 1.6rem auto;
    width: 34rem;
}
.form-group-portal {
    width: 45rem;
    line-height: 2.2;
}

.form-portal-button {
    width: 140px;
    float: right;
}

input.form-portal-element {
    width: 100%
}

.portal-text {
    border-spacing: 0.5rem;
}

.form-button {
    background-color: #5156EA;
    color: #FFFFFF;
    transition: all 0.125s ease-in-out;
    border-radius: 0.4rem;
    border: 0;
    cursor: pointer;
    line-height: 1;
    padding: 1.2rem 1.2rem 1.2rem;
    font-weight: 500;
    font-size: 14px;
}

.form-submit-button {
    width: 100%
}

.subheader {
    border-bottom: 1px solid rgba(15, 35, 63, .1);
    background: #FFFFFF;
    color: #0F233F;
    padding: 2rem 3.2rem 1.6rem;
    text-align: left;
}

.subheader h3 {
    margin: 4px 0;
}

.bread-flash-wrapper {
    position: absolute;
    left: 50%;
    top: 0px;
    opacity: 0;
    transform: translateX(-50%);
    transition: all 0.3s ease;
}

.bread-flash-show {
    top: 6.5rem;
    opacity: 1;
}

.bread-flash-hide {
    top: 0;
    opacity: 0;
}

.bread-flash-msg {
    position: relative;
    opacity: .9;
    margin: auto;
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    text-align: center;
    padding: 1rem 3rem;
    border-radius: 2px;
}

.bread-flash-msg-content {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
}

.bread-flash-success {
    background-color: #57C594;
}

.bread-flash-error {
    background-color: #e50000;
}

.emphasis {
    font-weight: 700;
}

.inactive {
    color: #ccc;
}

#targeted-financing-threshold {
    width: 75px;
}

#targeted-financing-info {
    color: #444;
    margin: 5px 0;
    transition: all 0.3s ease;
}
.slide-hide {
    max-height: 0;
    opacity: 0;
    overflow-y: hidden;
}
.slide-show {
    max-height: 60px;
    opacity: 1;
    overflow-y: hidden;
}

.margin-left {
    margin-left: 10px;
}

.margin-left-small {
    margin-left: 5px;
}

.margin-bottom {
    margin-bottom: 20px;
}

.margin-bottom-small {
    margin-bottom: 5px;
}

.color-primary {
    color: #5156EA;
}

.float-right {
    float: right;
}

.section-heading {
    font-weight: 700;
    margin-bottom: 10px;
}

.learn-more {
    margin-bottom: 15px;
}

.hint {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #999;
}

.hint > a {
    color: #999;
}

.warn {
    background-color: #dd3826;
}

.error-highlight {
    border: 1px solid red;
}

.required {
    color: #000;
    font-size: 1.3rem;
    line-height: 27px;
}

.floating-save {
    position: fixed;
    bottom: 0px;
    left: 0px;
    opacity: 0;
    padding: 20px 40px 20px 0px;
    width: 100%;
    transition: all 0.3s ease;
    z-index: 100;
}

.discard-button {
    background-color: #fff;
    border: none;
    padding: 1.2rem 2rem;
    line-height: 1;
    float: right;
    font-size: 14px;
    text-align: center;
}

.discard-action {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.discard-action:hover {
    text-decoration: underline;
}

.show-opacity {
    opacity: 1;
}

.block-input > input {
    display: block;
}
